<div class="alert alert-success" role="alert">
  <h4>{{name}} {{#if isNameUpdated}}<i>updated</i>{{/if}}</h4>
  <h5>{{title}} {{#if isTitleUpdated}}<i>updated</i>{{/if}}</h5>
  <h6 class="empty-content"></h6>
</div>
