<div class="panel panel-default">
  <div class="panel-body">
    <div class="form-group">
      {{input type="text" class="form-control" placeholder="Type something" autofocus="autofocus" value=searchTerm}}
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Movie Name</th>
          <th>Year</th>
          <th>Genre</th>
        </tr>
      </thead>
      <tbody>
        {{#if movie}}
        <tr>
          <td>{{movie.Title}}</td>
          <td>{{movie.Year}}</td>
          <td>{{movie.Genre}}</td>
        </tr>
        {{/if}}
      </tbody>
    </table>
  </div>
</div>

