<ol class="breadcrumb">
  <li>{{#link-to 'movies'}}Movies{{/link-to}}</li>
  <li class="active">{{model.title}}</li>
</ol>
{{movie-details
  movie=model
  edit=edit
  updateMovie=(route-action 'updateMovie')
  deleteMovie=(route-action 'deleteMovie')
}}
