{{array-init number=1}}

{{array-init number=2}}
<h4>Code</h4>
<a href="https://github.com/patocallaghan/movie-diary/blob/patoc/component-workshop/app/components/array-init.js">JS</a><br>
<a href="https://github.com/patocallaghan/movie-diary/blob/patoc/component-workshop/app/templates/components/array-init.hbs">Template</a><br>
<a href="https://github.com/patocallaghan/movie-diary/blob/patoc/component-workshop/app/templates/array-init.hbs">Setup</a><br>
