<h2>Default properties</h2>
{{my-component}}
<hr>

<h2>Passed-in properties overriding defaults</h2>
{{my-component
  title='Overriding Title'
  description='Overriding Description'
  tagName="p"
}}
<hr>

<h4>Code</h4>
<a href="https://github.com/patocallaghan/movie-diary/blob/patoc/component-workshop/app/components/my-component.js">JS</a><br>
<a href="https://github.com/patocallaghan/movie-diary/blob/patoc/component-workshop/app/templates/components/my-component.hbs">Template</a><br>
<a href="https://github.com/patocallaghan/movie-diary/blob/patoc/component-workshop/app/templates/my-component.hbs">Calling the templates</a>

