{{no-observer searchTerm=searchTerm}}

<h4>Code</h4>
<a href="https://github.com/patocallaghan/movie-diary/blob/patoc/component-workshop/app/components/no-observer.js">JS</a><br>
<a href="https://github.com/patocallaghan/movie-diary/blob/patoc/component-workshop/app/templates/components/no-observer.hbs">Template</a><br>
