<div>
  <label>Brothers</label>
  {{input value=model.siblings.brothers}}
</div>

<div>
  <label>Sisters</label>
  {{input value=model.siblings.sisters}}
</div>
<div>{{model.siblingsCount}}</div>
<!-- <button {{action 'resetSiblings'}}>Reset number of siblings</button> -->
<hr>
{{!test-component}}
<hr>
